[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-telegram-bot = "*"
pillow = "*"
openpyxl = "*"
pdf2image = "*"

[dev-packages]
black = "*"
pylint = "*"
pretty-errors = "*"

[requires]
python_version = "3.8"
